---
import ProyectsIcon from '@/components/icons/ProyectsIcon.astro'
import { PROYECTS } from '@/constants/proyects.ts'
import ProyectCard from '@/components/ProyectCard.astro'
---

<h2 class='inline-flex items-center gap-2 text-2xl font-bold'>
	<ProyectsIcon class='size-8' />Proyectos
</h2>
<div
	class='mt-6 flex w-full max-w-screen-sm flex-col items-start gap-y-4 md:items-center'
>
	{PROYECTS.map(proyect => <ProyectCard proyect={proyect} />)}
</div>
