---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import UserIcon from '../components/icons/UserIcons.astro'
import ContactIcon from '../components/icons/ContactIcon.astro'
import ProyectosSection from '../components/sections/ProyectsSection.astro'
import Hero from '../components/sections/Hero.astro'
---

<Layout
	title='Flavius Catalin Neacsu - Desarrollador y Programador Web'
	description='Entusiaste de la programcion y el desarrollo web.'
>
	<main class='mx-auto w-full max-w-md p-2 md:max-w-full'>
		<Section classname='mt-8 px-2 md:px-4'>
			<Hero />
		</Section>
		<Section
			id='#proyectos'
			classname='mt-16 p-2 md:px-4'
		>
			<ProyectosSection />
		</Section>
		<Section
			id='#sobre-mi'
			classname='mt-20 p-2 md:px-4'
		>
			<h2 class='inline-flex items-center gap-2 text-2xl font-bold'>
				<UserIcon class='size-8' />Sobre mí
			</h2>
		</Section>
		<Section
			id='#contacto'
			classname='mt-20 p-2 md:px-4'
		>
			<h2 class='inline-flex items-center gap-2 text-2xl font-bold'>
				<ContactIcon class='size-8' />Contacto
			</h2>
		</Section>
	</main>
</Layout>
