<footer
	class='bg-white/10 backdrop:blur-2xl dark:bg-zinc-900/30 rounded-lg shadow-2xl m-4'
>
	<div
		class='w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between'
	>
		<span class='text-sm text-gray-800/70 sm:text-center dark:text-gray-300/70'
			>© 2025 <a
				target='_blank'
				rel='noopener'
				href='https://github.com/kete102'
				class='hover:underline'
				>Flavius Catalin Neacsu™</a
			>. Todos los derechos reservados.
		</span>
		<ul
			class='flex flex-wrap items-center mt-3 text-sm font-medium text-gray-800/70 dark:text-gray-300/70 sm:mt-0'
		>
			<li>
				<a
					href='#sobre-mi'
					class='hover:underline me-4 md:me-6'
					>Sobre mí</a
				>
			</li>
			<li>
				<a
					href='#contacto'
					class='hover:underline'
					>Contacto</a
				>
			</li>
		</ul>
	</div>
</footer>
