---
import ThemeToggle from '@/components/ThemeToggle.astro'
const navItems = [
	{
		title: 'Proyectos',
		label: 'proyectos',
		url: '/#proyectos'
	},
	{
		title: 'Sobre mí',
		label: 'sobre-mi',
		url: '/#sobre-mi'
	},
	{
		title: 'Contacto',
		label: 'contacto',
		url: 'mailto:kete102@gmail.com'
	}
]
---

<header
	class='mx-auto mt-6 flex w-full max-w-sm items-center justify-between rounded-lg bg-slate-300/90 p-2 shadow-2xl backdrop:blur-2xl dark:bg-slate-950/90 md:max-w-6xl md:px-6'
>
	<nav class='invisible flex flex-row items-center gap-x-10 px-4 md:visible'>
		{
			navItems.map(item => (
				<a
					href={item.url}
					aria-label={item.url}
					class='text-lg font-medium opacity-80'
				>
					{item.title}
				</a>
			))
		}
	</nav>
	<ThemeToggle />
</header>
