---
interface Props {
	id?: string
	classname: string
}

const { id, classname } = Astro.props
---

<section
	id={id}
	class={`w-full  flex flex-col mx-auto max-w-4xl ${classname}`}
>
	<slot />
</section>
